body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#00000013, #00000013), url("fondo2.jpeg");
  flex-direction: column;
}

#quiz-container {
  text-align: center;
  background-color: #bc8fb792;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 20px;
  margin-top: 1rem;
  background-color: #bc8fb7;
  color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px gray;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #7b5777;
}

.hidden {
  display: none;
}
#result-container {
  font-weight: bold;
  margin-top: 20px;
  padding: 20px;
}
.question {
  background-color: antiquewhite;
  padding: 10px;
  text-align: left;
}
hr {
  margin-top: 2rem;
}
h1,
h4 {
  background-color: #bc8fb7;
  color: #fff;
  padding: 1rem;
  border-radius: 20px;
  letter-spacing: 2px;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
}
h4 {
  font-size: 20px;
}
#result-container {
  background-color: antiquewhite;
  border-radius: 20px;
}
#points {
  background-color: #bc8fb7;
  color: #fff;
  padding: 1rem;
  border-radius: 20px;
}
#info-text {
  background-color: antiquewhite;
  border-radius: 20px;
  width: 50%;
  padding: 20px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #info-text {
    width: 70%;
  }
}
@media (max-width: 768px) {
  #info-text {
    width: 90%;
  }
}
